*
!target/
!target/quarkus-app/
!target/quarkus-app/**
!target/quarkus-app/*-run.jar
!target/quarkus-app/*-runner.jar
!target/quarkus-app/*-runner
!target/quarkus-app/lib/*
!target/quarkus-app/app/*
!target/quarkus-app/quarkus/*